body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#App-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    padding: 20px;
    background-image: linear-gradient(to right bottom, #a8c4ee, #91baee, #77b1ed, #55a8ec, #12a0eb, #77b1ed, #91baee, #a8c4ee);
    background-size: 125% 125%;
    background-position: 100% 100%;   
    width: 50vh;
    border-radius: 25px;
    box-shadow: inset -0px -0px 25px aliceblue, 0px 0px 20px rgb(145, 160, 175);
    transition: all 0.5s ease;
}

#App-container:hover {
    background-position: 0% 0%;
    box-shadow: inset 0 0 10px aliceblue, 0px 0px 30px rgb(145, 160, 175);
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    background-color: rgb(185, 221, 252);
    box-shadow: inset 0px 0px 10px aliceblue;
    transition: all 0.3s;
}

.search-bar:focus-within #search {
    border-radius: 10px;
}
.search-bar:focus-within{
    border-radius: 10px;
}
#search:active{
    border-radius: 10px;
    border: 2px solid lightcyan;
    transform: translateY(0px);
    box-shadow: inset 0px 2px 5px grey;

}

#cityInput {
    height: 30px;
    border: none;
    margin: 5px;
    border-radius: 25px;
    padding: 5px;
    font-size: 16px;
    outline: none;
    background-color: transparent;  
}

#search{
    height: 100%;
    border-radius: 25px;
    transform: translateY(-1px);
    background-color: rgb(100, 181, 246);
    transition: all 80ms ease-in-out;
    border: 2px solid aliceblue;
    border-bottom: 4px solid lightcyan;
}

#weather-temp {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-evenly;
    width:70%;
    height: fit-content;
    align-items: center;
    padding: 10px;
    background-color: rgb(185, 221, 252);
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px aliceblue;
}

img{
    transform: scale(1.5);
}

h1 {
    font-size: 40px;
    color: rgb(100, 181, 246);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}